@import '../../Styles/common.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // Section Head
  .header {
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 280px;
      margin-top: 67px;
      background-image: url('https://cdn.pixabay.com/photo/2020/03/12/14/24/busan-4925217_1280.jpg');
      background-size: cover;

      .headerContent {
        text-align: center;
      }

      h1 {
        color: white;
        font-size: 64px;
        font-weight: bold;
      }

      .weatherBox {
        @extend %flex-all-center;
        width: 171px;
        height: 44px;
        margin-top: 9px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;

        .weatherBoxImg {
          width: 22px;
          height: 22px;
        }

        .weatherBoxHeat {
          margin: 4px 20px 0px 20px;
          color: white;
          font-size: 21px;
        }

        .weatherBoxIcon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  // Section Banner
  .banner {
    width: 1300px;
    height: 146px;

    .bannerContent {
      width: 100%;
      height: 100%;
      margin-top: 12px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  // Section CardList
  .cardLists {
    height: 350px;

    .cardListLine {
      margin-bottom: 20px;
      // padding: 30px;
      border-top: 1px solid silver;
    }
    .cardList {
      display: flex;
      flex-direction: column;
      width: 1300px;
      height: 315px;
      margin: 50px 0px;
      overflow-x: scroll;
      overflow: hidden;

      Header {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
      }

      .cardListBox {
        display: flex;

        .cardListTitle {
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: 700;
        }

        .card {
          width: 280px;
          margin-right: 14px;
          transition: all 300ms ease;
          cursor: pointer;

          img {
            height: 172px;
            border-radius: 4px;
          }

          .likeBtn {
            width: 24px;
            height: 60px;
            position: absolute;
            bottom: 190px;
            right: 10px;
          }

          .likeBtn1 {
            width: 24px;
            height: 60px;
            position: absolute;
            bottom: 180px;
            right: 10px;
          }

          .likeBtn:hover,
          .likeBtn1:hover {
            transform: scale(1.1);
          }

          img:hover {
            transform: scale(1.01);
            transition: 300ms ease;
          }
        }

        .cardContent {
          h1,
          h2,
          h4 {
            font-weight: 600;
          }

          h1 {
            font-size: 12px;
            color: #999999;
            margin-bottom: 6px;
          }
          h2 {
            font-size: 14px;
            color: black;
          }
          h3 {
            font-size: 12px;
            color: #999999;
            text-decoration: line-through;
          }
          h4 {
            font-size: 16px;
            color: black;
          }
        }
      }
    }
  }

  .swiperleftBtn {
    position: relative;
    bottom: 260px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    box-shadow: 5px 5px 7px 3px #8c8c8c;
    cursor: pointer;
    span {
      font-size: 23px;
      color: black;
      line-height: 40px;
    }
  }

  .swiperRightBtn {
    position: relative;
    bottom: 300px;
    left: 1280px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    box-shadow: 5px 5px 7px 3px #8c8c8c;
    cursor: pointer;
  }

  .swiperleftBtn,
  .swiperRightBtn {
    span {
      font-size: 23px;
      color: black;
      line-height: 40px;
    }
  }
  // 카드리스트 컴포넌트 이벤트-조건
  .hidden {
    visibility: hidden;
  }
  // Section Activity
  .activityMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    // background-color: rgb(197, 235, 197);

    span {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .activityBox {
    display: flex;
    width: 100%;
    height: 100%;

    .activityCardList {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      height: 100%;
      // background-color: rgb(243, 236, 243);

      .activityLinkBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        // background-color: #8c8c8c;

        span {
          font-size: 14px;
          padding: 0px 15px;
          cursor: pointer;
        }
      }

      .activityCard {
        width: 280px;
        margin-left: 23px;

        img:hover {
          transform: scale(1.01);
          transition: all 300ms ease;
        }
      }
    }
    // Activity Tap
    .activityTap {
      width: 30%;
      height: 100%;
      // background-color: rgb(230, 230, 162);

      .tabBoxOne {
        height: 180px;

        .dailyBoxes {
          display: flex;
          justify-content: space-between;

          .Box {
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            border: 1px solid silver;
            cursor: pointer;

            span {
              font-size: 15px;
            }
          }
        }

        .filterBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 24px;
          margin-top: 30px;

          h2 {
            font-size: 16px;
            font-weight: 600;
          }

          .switchBtn {
            display: flex;
            align-items: center;
            width: 70px;
            height: 28px;
            background-color: #e9e9e9;
            border-radius: 35px;
            cursor: pointer;

            &.active {
              background-color: tomato;
            }

            .switchToggle {
              width: 55%;
              height: 110%;
              border-radius: 15px;
              border: 1px solid rgb(216, 216, 216);
              background-color: white;
              box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.2);

              &.active {
                transform: translateX(33px);
              }
            }

            .switchBtn,
            .switchToggle,
            &.active,
            &.active {
              transition: all 300ms ease;
            }
          }
        }
      }

      .tabBoxTwo {
        height: 180px;

        .priceBox {
          margin: 20px 0px;

          span {
            font-size: 20px;
          }
        }

        .priceFixLine {
          margin-top: 50px;
          border-top: 1px solid silver;

          .moveToggleLine {
            border-top: 2px solid tomato;
            width: 80%;
            transform: translateY(-1.25px);
          }

          .moveToggle {
            display: flex;
            justify-content: space-between;
            transform: translateY(-16px);

            .moveToggleLeft {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }

            .moveToggleRight {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }

            .moveToggleLeft,
            .moveToggleRight {
              background-color: white;
              border: 1px solid rgb(216, 216, 216);
              box-shadow: 0 2px 4px 0 rgba(69, 81, 84, 0.1);
              cursor: pointer;
            }
          }
        }
      }

      .tabBoxThree {
        height: 500px;

        .categoriList {
          display: flex;
          align-items: center;
          margin-bottom: 40px;

          input {
            width: 20px;
            height: 20px;
            border: 1px solid silver;
          }

          .categoriText {
            width: 80%;
            margin-left: 13px;
            font-size: 15px;
          }

          input,
          .categoriText,
          .categoriIcon,
          .categoriIcon1 {
            cursor: pointer;
          }

          li {
            margin-top: 20px;
          }
        }
      }
    }

    .tabBoxFour {
      height: 50px;
      border: 1px solid rgb(216, 216, 216);
      text-align: center;

      span {
        font-size: 14px;
        cursor: pointer;
      }
    }

    .tabBoxOne,
    .tabBoxTwo,
    .tabBoxThree,
    .tabBoxFour {
      width: 80%;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 4px;
      background-color: #fafafa;

      h1 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 12px;
      }
    }
  }
}
.activityList {
  display: flex;
  flex-direction: column;
  width: 1300px;
  height: 1100px;
  margin: 50px 0px;

  header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }

  span {
    font-size: 14px;
    font-weight: 600;
    color: #d91c84;
  }

  img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    cursor: pointer;
  }

  .activityContent {
    h1,
    h2,
    h4 {
      font-weight: 600;
    }

    h1 {
      font-size: 12px;
      color: #d91c84;
      margin-bottom: 6px;
    }
    h2 {
      font-size: 14px;
      color: black;
    }
    h3 {
      margin: 2px 0px;
      font-size: 12px;
      color: #999999;
      text-decoration: line-through;
    }
    h4 {
      font-size: 16px;
      color: black;
    }
  }
}
