.input {
  input {
    border: 0;
    width: 360px;
    height: 43px;
    margin: 0px 0px 20px;
    padding: 6px 10px;
    color: #e2e4e7;
    border: solid 1px;
    border-radius: 4px;
    color: black;
  }

  .passwordInfo {
    color: #9999;
    margin: 5px 0 20px 0px;
    font-size: 13px;
  }
}
