.socialLineBox {
  display: flex;
  padding: 20px;
  text-align: center;

  .socialBorder {
    border: 1px solid #f2f2f2;
    width: 45%;
    height: 2px;
    border-top-width: 1px;
    margin-top: 7px;
  }

  .socialOrText {
    padding: 0 5px 0 5px;
  }

  span {
    color: #ddd;
    font-style: italic;
    font-weight: 600;
  }
}

.snsBox {
  .snsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 40px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    background-color: #fff;
    cursor: pointer;
  }

  .socialbuttonText {
    color: #b5b5b5;
    font-size: 13px;
    font-weight: 400;
    padding-left: 3px;
    line-height: 2.2;
  }
}
